*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink-light: #c59dd2;
  --pink-base: #9547a5;
  --pink-dark: #7d298a;
  --pink-low: #3f0f41;

  --blue-light: #73b6d2;
  --blue-base: #358bb9;
  --blue-mid: #2374a4;
  --blue-dark: #144a72;
  --blue-low: #08233c;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000f1f;
  --shape-background: #00050a;

  --font-family: "Raleway", sans-serif;

  --text-title: #f8fbfb;
  --text-body: #e2e7e9;
  --text-label: #bac6c9;

  --title-md: 700 40px/1.2 var(--font-family);
  --title-lg: 700 48px/1.2 var(--font-family);
  --title-sm: 700 32px/1.2 var(--font-family);
  --title-xs: 700 16px/1.2 var(--font-family);

  --subtitle: 500 32px/200% var(--font-family);

  --body-lg: 400 20px/140% var(--font-family);
  --body-md: 400 16px/140% var(--font-family);
  --body-sm: 400 14px/140% var(--font-family);
  --body-xs: 400 12px/140% var(--font-family);

  --button: 700 14px/1.2 var(--font-family);
  --link: 500 14px/1.2 var(--font-family);
  --tag: 700 10px/1.2 var(--font-family);
}

html {
  background-color: black;
}
