header.main-header {
  animation: fadeInHeader 2s ease-out forwards;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-inline: auto;

  background-image: url("../assets/hero-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;
  max-width: 100%;

  & .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 80em;

    margin-top: 2rem;
    padding-inline: 1rem;

    & button {
      min-width: 5.56rem;
      height: 2.5rem;

      cursor: pointer;

      border: none;
      border-radius: 0.5rem;

      font: var(--button);
      color: var(--text-title);
      background-color: var(--pink-dark);
    }
  }

  & .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 17.37rem;

    gap: 2rem;
    text-align: center;

    & h1 {
      max-width: 41rem;
      font: var(--title-lg);
      color: var(--text-title);
    }

    & p {
      max-width: 35.5rem;
      font: var(--body-lg);
      color: var(--text-body);
    }
  }
}

@keyframes fadeInHeader {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
