section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  max-width: 90em;
  margin: 6rem auto 5rem;
  padding: 0px 7.5rem 5rem;

  & .hero-features {
    display: flex;
    flex-direction: column;
    align-items: center;

    & p {
      font: var(--subtitle);
      color: var(--text-body);
    }

    & .feature-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;
    }

    & .animated-text span {
      font: var(--subtitle);
      color: var(--text-body);
      opacity: 50%;
      transition: all;
      transition-delay: 2s;
    }

    & .img-step-1,
    & .img-step-2,
    & .img-step-3 {
      opacity: 0;
      visibility: hidden;
      transform: translateY(20px);
      transition: all 600ms ease;
      transition-delay: 1s;
    }

    &:hover {
      & .step-1 {
        opacity: 1;
        color: var(--text-body);
        transition-delay: 0s;

        & .highlight-1 {
          opacity: 1;
          color: var(--blue-light);
          transition-delay: inherit;
        }
      }

      & .img-step-1 {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 0s;
      }

      & .step-2 {
        opacity: 1;
        color: var(--text-body);
        transition-delay: 600ms;

        & .highlight-2 {
          opacity: 1;
          color: var(--blue-light);
          transition-delay: inherit;
        }
      }

      & .img-step-2 {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 600ms;
      }

      & .step-3 {
        opacity: 1;
        color: var(--text-body);
        transition-delay: 1.2s;

        & .highlight-3 {
          opacity: 1;
          color: var(--blue-light);
          transition-delay: inherit;
        }
      }

      & .img-step-3 {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-delay: 1.2s;
      }
    }

    & .img-1 {
      width: 5.5rem;
      height: 5.5rem;

      rotate: 25deg;
    }

    & .img-1:hover {
      rotate: 20.76deg;
      scale: 1.1;
    }

    & .img-2 {
      width: 4.5rem;
      height: 4.5rem;

      rotate: 90deg;
    }

    & .img-2:hover {
      rotate: 99.47deg;
      scale: 1.1;

      transition-delay: 0s;
    }

    & .img-3 {
      width: 2.5rem;
      height: 2.5rem;

      rotate: -14.48deg;
    }

    & .img-3:hover {
      rotate: -6.48deg;
      scale: 1.1;

      transition-delay: 0s;
    }
  }
}

@media (max-width: 768px) {
  section.hero {
    margin: 3rem auto;
    padding: 0 1.5rem 3rem;

    .hero-features .feature-icons {
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
    }

    .hero-features p {
      font-size: 1.25rem;
      line-height: 1.4;
    }
  }
}
