section.mystery-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  & .mystery-box-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    gap: 16px;
    padding-top: 15rem;

    h2 {
      font: var(--title-sm);
      color: var(--text-title);
    }

    & legend {
      display: block;
      font: var(--body-md);
      color: var(--text-body);
    }

    & span {
      width: 2rem;
      height: 2rem;

      background-color: var(--pink-base);

      mask-image: url(../assets/icons/star.svg);
      mask-repeat: no-repeat;
      mask-size: contain;

      -webkit-mask-image: url(../assets/icons/star.svg);
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: contain;
    }
  }

  & .mystery-box-content {
    display: grid;
    grid-template-areas: "stack";
    justify-items: center;
    align-items: center;


    min-height: 57.5rem;
    margin-top: 4rem;

    &>* {
      grid-area: stack;
      transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    & p,
    & img:not(.img-book) {
      opacity: 0;
      visibility: hidden;
      transform: translate(0, 0);
    }

    & .img-book {
      width: 29rem;
      height: 38.56rem;
      z-index: 10;
    }

    & .img-pin {
      height: 16rem;
      width: 13.87rem;
    }

    & .img-marker-y,
    & .img-marker-p {
      height: 33.5rem;
      width: 10.75rem;
    }

    &:hover {

      & p,
      & img {
        opacity: 1;
        visibility: visible;
      }

      & .img-pin {
        transform: translate(-16.5rem, 17rem) rotate(-8deg);
        z-index: 11;
      }

      & .img-marker-y {
        transform: translate(17rem, -8.75rem) rotate(12deg);
        z-index: 6;
      }

      & .img-marker-p {
        transform: translate(23rem, -3rem) rotate(22deg);
        z-index: 5;
      }

      & p {
        font: var(--body-md);
        color: var(--text-title);
        white-space: nowrap;
      }

      & .label-book {
        transform: translate(-350px, -380px);
      }

      & .label-pin {
        transform: translate(-350px, 10px);
      }

      & .label-marker {
        transform: translate(380px, 350px);
      }

      & .arrow-1,
      & .arrow-2,
      & .arrow-3 {
        width: 5rem;
        height: auto;
        z-index: 15;
      }

      & .arrow-1 {
        transform: translate(-18.75rem, -21.87rem);
      }

      & .arrow-2 {
        transform: translate(-21.25rem, 4.7rem);
      }

      & .arrow-3 {
        transform: translate(25rem, 18.12rem);
      }
    }
  }
}