section.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
  height: calc(100vh);

  padding: 5rem 2rem;
  gap: 3.5rem;

  background-image: url(../assets/pricing-background.png);

  & .pricing-header {
    margin-bottom: 3.5rem;
    text-align: center;

    h2 {
      font: var(--title-sm);
      color: var(--text-title);
    }
  }

  & .pricing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  & .card-container {
    position: relative;
    flex: 0 0 18rem;
    transition: transform 0.4s ease-in-out;

    &:first-child {
      transform: rotate(-8deg) translateY(4rem);
    }

    &:last-child {
      transform: rotate(12deg) translateY(4rem);
    }
  }

  & .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    min-height: 26rem;
    height: 100%;

    padding: 2rem 1rem 2.5rem;
    border-radius: 1.5rem;

    background: var(--shape-base);
    border: 1px solid var(--shape-stroke);
    transition: filter 0.3s ease-in-out, transform 0.4s ease-in-out,
      box-shadow 0.2s ease-in-out, background-color 0.4s ease-in-out,
      z-index 0.1s ease-in-out;

    & .card-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-bottom: 1.5rem;
    }

    & h3 {
      font: var(--title-sx);
      color: var(--blue-light);

      margin-bottom: 1.5rem;
    }

    & .price {
      display: flex;
      align-items: baseline;
      color: var(--text-title);

      .currency {
        font: var(--title-md);
        margin-right: 0.5rem;
      }

      .value {
        font: var(--title-md);
      }

      .period {
        font: var(--title-sx);
        color: var(--text-title);
      }
    }

    & small {
      display: block;
      width: 100%;
      padding-top: 0.5rem;

      font: var(--body-sm);
      color: var(--text-body);
    }

    & .features {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      margin-top: auto;

      li {
        font: var(--body-xs);
        color: var(--text-body);
        display: flex;
        align-items: center;
        gap: 0.75rem;

        &::before {
          content: "";
          width: 0.8rem;
          height: 0.8rem;
          background-color: var(--blue-base);
          mask: url(../assets/icons/star.svg) no-repeat center / contain;
          -webkit-mask: url(../assets/icons/star.svg) no-repeat center / contain;
        }
      }
    }

    & button {
      border: none;
      height: 2.5rem;
      border-radius: 0.5rem;

      font: var(--button);

      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(1.2);
      }
    }

    .btn-primary {
      background-color: var(--blue-dark);
      color: var(--text-title);
    }

    .btn-secondary {
      background-color: var(--pink-dark);
      color: var(--text-title);
    }
  }

  /* Card Semestral */
  & .card.featured {
    z-index: 2;
    background: var(--shape-hover);

    & h3 {
      font: var(--title-sx);
      color: var(--pink-light);
    }

    & .badge {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;

      font: var(--tag);
      color: var(--text-body);
      background: var(--shape-stroke);

      text-transform: uppercase;

      padding: 0.55rem 1.25rem;
      gap: .5rem;
      border-radius: 6.25rem;
    }

    & .card-icon {
      mask: url(../assets/icons/rabbit-head.svg) no-repeat center / contain;
      -webkit-mask: url(../assets/icons/rabbit-head.svg) no-repeat center / contain;
      background-color: var(--pink-base);

      display: inline-block;
      position: absolute;
      top: -2.8rem;
      left: 1rem;

      width: 2.8rem;
      height: 3rem;

      transform: none;
      z-index: -1;
    }

    & .features li::before {
      background-color: var(--pink-dark);
    }
  }

  .card-container:not(:has(.featured)) {

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: var(--pink-base);

      mask: url(../assets/icons/star.svg) no-repeat center / contain;
      -webkit-mask: url(../assets/icons/star.svg) no-repeat center / contain;

      pointer-events: none;
      z-index: -1;
      transition: transform 0.4s ease-in-out;
    }

    &::before {
      width: 26px;
      height: 26px;
      top: -1.5rem;
      left: -1.5rem;
    }

    &::after {
      width: 13px;
      height: 13px;
      top: 0.5rem;
      left: -2rem;
      opacity: 0.8;
    }
  }

  .card-container:last-child {
    &::before {
      top: auto;
      bottom: -1rem;
      left: auto;
      right: -2.5rem;
    }

    &::after {
      top: auto;
      bottom: -1.5rem;
      left: auto;
      right: 0.1rem;
    }
  }

  & .card:hover {
    box-shadow: 0 0 40px var(--shape-hover);
    background-color: var(--shape-hover);
  }

  & .card-container:has(.card:not(.featured):hover) {
    z-index: 10;
  }

  & .card-container:first-child:has(.card:hover) {
    & .card {
      transform: translateY(-0.6rem);
    }

    &::before {
      transform: rotate(19deg);
    }

    &::after {
      transform: rotate(-6deg);
    }
  }

  & .card-container:last-child:has(.card:hover) {
    & .card {
      transform: translateY(-0.7rem);
    }

    &::before {
      transform: rotate(-21deg);
    }

    &::after {
      transform: rotate(20deg);
    }
  }

  & .card.featured:hover {
    transform: translateY(-0.5rem);
    z-index: 10;
  }

  & .pricing-container:has(.card:not(.featured):hover) .card.featured {
    background-color: var(--shape-base);
  }
}