section.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 100vw;
  height: 100vh;

  padding: 5rem 2rem;
  gap: 3.5rem;

  background-image: url(../assets/pricing-background.png);


  & .pricing-header {
    margin-bottom: 3.5rem;
    text-align: center;

    h2 {
      font: var(--title-sm);
      color: var(--text-title);
    }
  }

  & .pricing-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  & .card {
    display: flex;
    flex: 0 0 18rem;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    min-height: 26rem;
    height: 100%;

    padding: 2rem 1rem 2.5rem;
    border-radius: 1.5rem;

    background: var(--shape-base);
    border: 1px solid var(--shape-stroke);
    transition: transform 0.3s ease;

    & .card-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-bottom: 1.5rem;
    }

    &:first-child {
      transform: rotate(-8deg) translateY(4rem);
    }

    &:last-child {
      transform: rotate(12deg) translateY(4rem);
    }

    & h3 {
      font: var(--title-sx);
      color: var(--blue-light);

      margin-bottom: 1.5rem;
    }

    & .price {
      display: flex;
      align-items: baseline;
      color: var(--text-title);

      .currency {
        font: var(--title-md);
        margin-right: 0.5rem;
      }

      .value {
        font: var(--title-md);
        color: var(--text-title);
      }

      .period {
        font: var(--title-sx);
        color: var(--text-title);
      }
    }

    & small {
      display: block;
      width: 100%;
      padding-top: 0.5rem;

      font: var(--body-sm);
      color: var(--text-body);
    }

    & .features {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      margin-top: auto;

      li {
        font: var(--body-xs);
        color: var(--text-body);
        display: flex;
        align-items: center;
        gap: 0.75rem;

        &::before {
          content: "";
          width: 0.8rem;
          height: 0.8rem;
          background-color: var(--blue-base);
          mask: url(../assets/icons/star.svg) no-repeat center / contain;
          -webkit-mask: url(../assets/icons/star.svg) no-repeat center / contain;
        }
      }
    }

    & button {
      border: none;
      height: 2.5rem;
      border-radius: 0.5rem;

      font: var(--button);

      cursor: pointer;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(1.2);
      }
    }

    .btn-primary {
      background-color: var(--blue-dark);
      color: var(--text-title);
    }

    .btn-secondary {
      background-color: var(--pink-dark);
      color: var(--text-title);
    }
  }

  /* Card Semestral */
  & .card.featured {
    z-index: 2;
    background: var(--shape-hover);

    & h3 {
      font: var(--title-sx);
      color: var(--pink-light);
    }

    & .badge {
      position: absolute;
      top: 1.5rem;
      right: 1.5rem;

      font: var(--tag);
      color: var(--text-body);
      background: var(--shape-stroke);

      text-transform: uppercase;

      padding: 0.55rem 1.25rem;
      gap: .5rem;
      border-radius: 6.25rem;
    }

    & .card-icon {
      mask: url(../assets/icons/rabbit-head.svg) no-repeat center / contain;
      -webkit-mask: url(../assets/icons/rabbit-head.svg) no-repeat center / contain;
      background-color: var(--pink-base);

      display: inline-block;
      position: absolute;
      top: -2.8rem;
      left: 1rem;

      width: 2.8rem;
      height: 3rem;

      transform: none;
      z-index: -1;
    }

    & .features li::before {
      background-color: var(--pink-dark);
    }
  }

  .card:not(.featured) {

    & .star-md,
    & .star-sm {
      position: absolute;
      display: block;
      background-color: var(--pink-base);

      mask: url(../assets/icons/star.svg) no-repeat center / contain;
      -webkit-mask: url(../assets/icons/star.svg) no-repeat center / contain;

      pointer-events: none;
      z-index: 5;
    }

    & .star-md {
      width: 26px;
      height: 26px;
      top: -1.5rem;
      left: -1.5rem;
    }

    & .star-sm {
      width: 13px;
      height: 13px;
      top: .5rem;
      left: -2rem;
      opacity: 0.8;
    }
  }

  .card:last-child {
    & .star-md {
      top: auto;
      bottom: -1rem;
      left: auto;
      right: -2.5rem;
    }

    & .star-sm {
      top: auto;
      bottom: -1.5rem;
      left: auto;
      right: .1rem;
    }
  }
}